@media screen and (min-width: 575px) {
    .footer-container {
        display: flex;
        width: 70%;
        margin: 0 auto;
        background: #212121;
        justify-content: space-around;
        padding: 5% 10%;
    }

    .footer-subtitle {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        width: 100%;
    }

    .info-footer-wrapper {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 575px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        background: #212121;
        justify-content: space-around;
        padding: 5% 10%;
    }

    .footer-subtitle {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        width: 100%;
    }

    .info-footer-wrapper {
        display: flex;
        flex-direction: column;
    }
    .form{
        margin-top: 5%;
    }
}